$margen: 120px;
$fuente: 'Montserrat', sans-serif;
$nav-color: rgba(255, 255, 255, 0.8);
$fondo-negro: rgb(25, 25, 25);
$color-fondo: rgb(30, 30, 30);
$color-letra: #ffffff;
$color-titulo: #f98518;
$letra-grande: 18px;
$letra-titulo: 30px;