$margen: 120px;
$fuente: 'Montserrat', sans-serif;
$color-menu: rgba(255, 255, 255, 0.8);
$color-header-footer: #2c2020;
$color-main: #3f3434;
$color-contenido: #605555;
$color-titulo: #ff9800;
$color-subtitulo: #ffaa2a;
$color-texto: #ffffff;
$letra-grande: 18px;
$letra-titulo: 30px;