/* ------- SECCION GALERÍA ------- */
@import "../variables/variables";
@import "../sass/extend";
@import "../sass/mixins";

.galeria-contenedor {
    @include margen-main;
}

.galeria-imagenes {
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-template-areas:
    "titulo titulo titulo"
    "uno dos tres"
    "cuatro cinco seis"
    "siete ocho nueve";
    gap: 10px;
    .galeria-titulo-uno {
        grid-area: titulo;
        text-align: center;
    }
    .imagen-uno {
        border-radius: $borde-imagenes;
        grid-area: uno;
    }
    .imagen-dos {
        border-radius: $borde-imagenes;
        grid-area: dos;
    }
    .imagen-tres {
        border-radius: $borde-imagenes;
        grid-area: tres;
    }
    .imagen-cuatro {
        border-radius: $borde-imagenes;
        grid-area: cuatro;
    }
    .imagen-cinco {
        border-radius: $borde-imagenes;
        grid-area: cinco;
    }
    .imagen-seis {
        border-radius: $borde-imagenes;
        grid-area: seis;
    }
    .imagen-siete {
        border-radius: $borde-imagenes;
        grid-area: siete;
    }
    .imagen-ocho {
        border-radius: $borde-imagenes;
        grid-area: ocho;
    }
    .imagen-nueve {
        border-radius: $borde-imagenes;
        grid-area: nueve;
    }
}

.galeria-videos {
    margin-top: 50px;
    display: grid;
    grid-template-areas:
    "titulo titulo"
    "uno dos"
    "tres cuatro";
    gap: 20px;
    .galeria-titulo-dos {
        grid-area: titulo;
        text-align: center;
    }
    .video-uno {
        border-radius: $borde-imagenes;
        grid-area: uno;
        width: 445px;
    }
    .video-dos {
        border-radius: $borde-imagenes;
        grid-area: dos;
        width: 445px;
    }
    .video-tres {
        border-radius: $borde-imagenes;
        grid-area: tres;
        width: 445px;
    }
    .video-cuatro {
        border-radius: $borde-imagenes;
        grid-area: cuatro;
        width: 445px;
    }
}

@media (max-width: 1225px) {
    .galeria-imagenes{
        justify-content: center;
        grid-template-columns: auto;
        grid-template-areas:
        "titulo titulo"
        "uno dos"
        "tres cuatro"
        "cinco seis"
        "siete ocho"
        "nueve none";
    }
    .galeria-videos {
        justify-content: center;
        grid-template-areas:
        "titulo"
        "uno"
        "dos"
        "tres"
        "cuatro";
        gap: 15px;
        .galeria-titulo-dos {
            grid-area: titulo;
        }
        .video-uno {
            grid-area: uno;
            width: 350px;
        }
        .video-dos {
            grid-area: dos;
            width: 350px;
        }
        .video-tres {
            grid-area: tres;
            width: 350px;
        }
        .video-cuatro {
            grid-area: cuatro;
            width: 350px;
        }
    }
}

@media (max-width: 640px) {
    .galeria-imagenes{
        grid-template-areas:
        "titulo"
        "uno"
        "dos"
        "tres"
        "cuatro"
        "cinco"
        "seis"
        "siete"
        "ocho"
        "nueve"
        "none";
        img {
            width: 200px;
            height: 200px;
        }
    }
    .galeria-videos {
        .video-uno, .video-dos, .video-tres, .video-cuatro {
            width: 250px;
        }
    }
}