/* ------- SECCION INICIO ------- */
@import "../variables/variables";
@import "../sass/extend";
@import "../sass/mixins";

.inicio-fondo {
    justify-content: center;
    .inicio-contenedor {
        text-align: center;
        @include margen-main;
        .inicio-imagen {
            height: 450px;
            width: 450px;
            border-radius: 8px;
            box-shadow: 10px 10px 10px 3px;
        }
        .inicio-titulo {
            padding-top: 50px;
            padding-bottom: 50px;
        }
        .inicio-tour {
            display: flex;
            justify-content: space-evenly;
            font-family: $fuente;
            .primera-col, .segunda-col, .tercera-col {
                display: flex;
                flex-direction: column;
                align-items: center;
                }
            .primera-col-items, .segunda-col-items, .tercera-col-items {
                font-size: $letra-grande;
                font-weight: bold;
                color: $color-texto;
                background-color: $color-contenido;
                border-radius: 10px;
                border: solid rgb(25, 25, 25) 3px;
                width: 100%;
                margin: 5px;
                padding: 3px;
                transition: all .25s; 
            }
            .tercera-col-items:hover {
                box-shadow: 0px 2px 2px 2px;
                background-color: $color-subtitulo;
            }  
        }
    }
}

@media (max-width: 725px) {
    .inicio-fondo{
        .inicio-contenedor {
            .inicio-imagen {
                height: 325px;
                width: 325px;
            }
            .inicio-tour {
                .primera-col-items {
                    font-size: 14px;
                }
                .segunda-col-items {
                    font-size: 14px;
                }
                .tercera-col-items {
                    font-size: 14px;
                }
            }
        }
    }
}

@media (max-width: 400px) {
    .inicio-fondo{
        .inicio-contenedor {
            .inicio-imagen {
                height: 250px;
                width: 250px;
            }
            .inicio-tour {
                .primera-col-items {
                    font-size: $letra-chica;
                }
                .segunda-col-items {
                    font-size: $letra-chica;
                }
                .tercera-col-items {
                    font-size: $letra-chica;
                }
            }
        }
    }
}