/* ------- SECCION INICIO ------- */
@import "../variables/variables";
@import "../sass/extend";
@import "../sass/mixins";

.inicio-contenedor {
    text-align: center;
    .inicio-imagen {
        height: 450px;
        width: 450px;
        border-radius: 8px;
        box-shadow: 10px 10px 10px 3px;
    }
    .inicio-titulo{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .inicio-tour {
        display: flex;
        justify-content: space-evenly;
        font-family: $fuente;
        .primera-col, .segunda-col, .tercera-col {
            display: flex;
            flex-direction: column;
            align-items: center;
            }
        .primera-col-items, .segunda-col-items, .tercera-col-items {
            font-size: 18px;
            font-weight: bold;
            color: black;
            background-color: #ffffff;
            border-radius: 10px;
            border: solid rgb(25, 25, 25) 3px;
            width: 100%;
            margin: 5px;
            transition: all .25s; 
        }
        .tercera-col-items:hover {
            box-shadow: 0px 3px 3px 2px;
            background-color: #f98518;
            color: #ffffff;
            font-size: 19px;
        }  
    }
}

@media (max-width: 725px){
    .inicio-contenedor{
        .inicio-imagen {
            height: 200px;
            width: 350px;
        }
        .inicio-tour{
            .primera-col-items{
                font-size: 16px;
            }
            .segunda-col-items{
                font-size: 16px;
            }
            .tercera-col-items{
                font-size: 16px;
            }
        }
    }
}

@media (max-width: 400px){
    .inicio-contenedor{
        .inicio-imagen {
            height: 150px;
            width: 300px;
        }
        .inicio-tour{
            .primera-col-items{
                font-size: 13px;
            }
            .segunda-col-items{
                font-size: 13px;
            }
            .tercera-col-items{
                font-size: 13px;
            }
        }
    }
}